.text{
  margin: 6rem 0 2rem 3rem;
}

.container {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
  }

.text h4{
  font-size: 1.2rem;
  font-weight: 400;
  margin-top: .5rem;
}